* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F7F7F7;
    color: #707070;
}


/* -------------------------- Containers ------------------------------ */

footer {
    width: 100%;
    border-top: 1px solid #EBEBEB;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
}

header > div {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > div > div {
    display: flex;
    align-items: center;
}

a {
    font-style: italic;
    text-decoration: none;
    color: #707070;
    margin-left: 20px;
    font-weight: bolder;
}

.container {
    margin-top: 20px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

/* container com o jogo */
.leftContainer {
    display: flex;
    flex-direction: column;
    max-width: 770px;
    position: relative;
    top: 15px;
}
/* container com o carrinho */
.rightContainer {
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    word-wrap: break-word;
    display: flex;
    max-width: 280px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -60px;
    width: 280px;
    min-height: 344px;
    background-color: white;
}

/* container com todos os números */

.numbers {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    max-height: 220px;
    min-height: 220px;
    min-width: 650px;
    max-width: 650px;
}

/*Container com as regras e os botões para escolha de jogo*/

.rules{
    width: 680px;
}

[data-js="GameContainer"] {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    border-left: 4px solid red;
    border-radius: 3px;
    padding: 10px;
    color: #868686;
    font-weight: bold;
}

.cartAndTotal {
    padding: 20px;
}

[data-js="GameFinished"] {
    display: flex;
    align-items: center;

}

.allGames {
    margin-bottom: 10px;
}


/* -------------------------- End-of-Containers ------------------------------ */



/* -------------------------- texts ------------------------------ */

h4 {
    color: #707070;
    padding-bottom: 20px; 
}
/* Cart title */
h2 {
    margin-bottom: 15px;
}

/* Cart-itens */
[data-js="cart"] {
    padding-bottom: 10px;
}

[data-js="gameRules"] {
    color: #707070;
}

.title {
    color: #707070;
    text-transform:uppercase;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 20px;
}

[data-js="game"] {
    font-weight: lighter;
}

[data-js="gameNumbersComplete"] {
    width: 120px;
}

.Mega-Sena{
    border-color: #01AC66;
}

.Quina{
    border-color: #F79C31;
}

.Lotofácil {
    border-color: #7F3992;
}

span.Lotofácil {
    color: #7F3992;
}

span.Mega-Sena{
    color: #01AC66;
}

span.Quina{
    color: #F79C31;
}

[data-js="priceCart"] {
    margin-left: 10px;
}

[data-js="priceCart"], [data-js="price"] {
    font-weight: lighter;
}

#logo {
    font-size: 40px;
    border-bottom: 5px solid #B5C401;
    border-radius: 5px;
    padding-top: 10px;
}

/* -------------------------- end-of-texts ------------------------------ */




/* -------------------------- Buttons ------------------------------ */

/* Mega-sena Lotomania e Lotofácil */
.chooseGame {
    border-style: solid;
    border-radius: 20px;
    padding: 7px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    min-width: 130px;
    margin-bottom: 20px;
}

button.selected#Lotofácil {
    background-color: #7F3992;
}

button.selected#Mega-Sena {
    background-color: #01AC66;  
}

button.selected#Quina {
    background-color: #F79C31;  
}

[data-js="Quina"]#selected {
    background-color: #F79C31;
    color: white;
}

[data-js="Lotofácil"]#selected {
    background-color: #7F3992;
    color: white;
}

[data-js="Mega-Sena"]#selected {
    background-color: #01AC66;
    color: white;
}

[data-js="Lotofácil"] {
    color: #7F3992;
    border-color: #7F3992;
}

[data-js="Mega-Sena"] {
    color: #01AC66;
    border-color: #01AC66;
}

[data-js="Quina"] {
    color: #F79C31;
    border-color: #F79C31;
}

[data-js="deleteGame"]:hover {
    cursor: pointer;
}

i.fa-trash-o {
    font-size: 25px;
    margin-right: 10px;
}


/* Clear Game, Add to Cart and Complete Game */
.gameSelectors {
    border: 2px solid #27C383;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: transparent;
    color: #27C383;

}

[data-js="addToCart"] {
    background-color: #27C383;
    color: white;
    margin-left: 150px;
}

/* Números selecionados */
[data-js="number-choice"] {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    background-color: #ADC0C4;
}

.save {
    background: #F4F4F4;
    color: #27C383;
    border: none;
    width: 100%;
    padding: 15px;
    font-weight: bolder;
    font-size: 25px;
    font-style: italic;
    border-radius: 0px 0px 20px 20px;
}

/* -------------------------- end-of-buttons ------------------------------ */


/* -------------------------- buttons-hover ------------------------------ */

.gameSelectors:hover {
    background-color: #27C383;
    color: white;
    cursor: pointer;
}

[data-js="addToCart"]:hover {
    background: white;
    border-color: #01AC66;
    color: #01AC66;
}

[data-js="number-choice"]:hover {
    background: #4d88ff;
}


[data-js="Lotofácil"]:hover {
    color: white;
    background-color: #7F3992;
    cursor: pointer;
}

[data-js="Mega-Sena"]:hover {
    color: white;
    background-color: #01AC66;
    cursor: pointer;
}

[data-js="Quina"]:hover {
    color: white;
    background-color: #F79C31;
    cursor: pointer;
}

/* -------------------------- end-of-buttons-hover ------------------------------ */
